.cabecalho {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../img/hashtag-fundo.png"),
    radial-gradient(
      93.75% 175.92% at 97.92% 10.02%,
      #01375f 0%,
      #043d67 35.94%,
      #05416d 61.72%,
      #0a7a9d 100%
    );
  background-repeat: no-repeat;
  background-position: right;
  background-size: auto;
}

.cabecalho-navegacao {
  background: #01375f;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
}

.cabecalho-menu-navegacao-conteiner {
  width: 100%;
  display: flex;
  margin-right: 0.8rem;
}

.cabecalho-menu-nevegacao {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  width: 100%;
}

.cabecalho-main {
  display: flex;
  align-items: center;
  gap: 20px;
}

.cabecalho-main-imagem {
  max-width: 300px;
}

.cabecalho-main-conteiner {
  max-width: 350px;
}

.cabecalho-main-titulo {
  font-size: 2rem;
  color: #fff;
}

.cabecalho-main-texto {
  color: #fff;
}

.cabecalho-imagem {
  width: 90%;
  max-width: 600px;
  margin-top: 30px;
}

/* Parte Mobile */

@media screen and (max-width: 768px) {
  .cabecalho {
    background: radial-gradient(
      93.75% 175.92% at 97.92% 10.02%,
      #01375f 0%,
      #043d67 35.94%,
      #05416d 61.72%,
      #0a7a9d 100%
    );
  }

  .cabecalho-navegacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
  }

  .logo-navegacao {
    width: 40%;
    margin-bottom: 1rem;
  }

  .cabecalho-menu-nevegacao {
    display: flex;
    flex-direction: column;
  }

  .cabecalho-main {
    display: flex;
    flex-direction: column;
    align-items: initial;
  }

  .cabecalho-main-imagem {
    max-width: 50%;
  }

  .cabecalho-main-conteiner {
    width: 300px;
  }

  .cabecalho-main-titulo {
    font-size: 1.2rem;
    margin: 30px 0;
    color: #fff;
  }

  .cabecalho-main-texto {
    color: #fff;
  }

  .cabecalho-imagem {
    width: 90%;
    max-width: 600px;
    margin-top: 30px;
  }
}
