.rodape {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: radial-gradient(
    93.75% 175.92% at 97.92% 10.02%,
    #01375f 0%,
    #043d67 35.94%,
    #05416d 61.72%,
    #0a7a9d 100%
  );
}

.imagem-rodape {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
.rodape-contato {
  margin-bottom: 8rem;
  margin-top: 4rem;
}
.rodape-contato-itens {
  margin-top: 2rem;
}

li {
  list-style: none;
  margin: 0.5rem;
  font-weight: 100;
}

.imagem-lista {
  margin-right: 5px;
}

.texto-rodape {
  font-weight: 700;
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
}
