* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: "Open Sans", sans-serif;
  background-image: url("../img/fundo-linhas-tecnologia.png");
}

form label,
form legend {
  color: #0473a4;
  font-weight: 600;
}

form label,
form legend {
  margin: 0 0 10px;
}

.caixa {
  max-width: 1200px;
  margin: auto;
  border: 1px #01375f solid;
}

.conteiner {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: auto;
}
.subtitulo {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  color: #0473a4;
}

a:active {
  color: #fff;
}

a:visited {
  color: #fff;
}

a:hover {
  color: #0a7a9d;
  text-decoration: underline;
}
